body{
    width: 99%;
    height: 100%;
    
    font-style: italic;
    
    background-image: url(desimagen/patron9.jpg);
}
table{
    margin-left: 17px;
    margin-bottom: 100px;
}

.titulo {
    font-size: 70px;
    color: blanchedalmond;
    text-decoration-style: dashed;
    font-weight: bold;
}

a {
    color: #ffffff;
    font-size: 20px;
}

.primeralinea{
    padding: 20px;
}

p{  
    text-align: center;
    text-indent: 15px;
    margin: 20px;
    font-style: oblique;
    font-size: 30px;
    color: rgb(240, 233, 233);
}

.bienvenido{
    font-style: oblique;
    font-size: 50px;
    color: white;
    text-decoration-style: double;
}


.clearfix{
    float: none;
    clear: both;
}

#menu {
    margin-top: 150px;
    max-width: 720px;
    background-color: #EAEDED;
    margin: 0px auto;
    color: black;
}
#menu ol li {
    border-left: 3px solid  #95A5A6 ;
    margin: 0px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-right: 3px solid  #95A5A6 ;
    display: block;
    float: left;    
}

#menu ol li a{
    
    color: black;
    text-decoration: none;
    padding: 25px;
    margin-bottom: 50px;
    
}
#menu ol li:hover {
    background-color: #515A5A;

}
#menu ol li:hover a{
    color: white;}


    

td {
    display: block;
    float: left;
    width: 24%;
    height: 200px;
    border: 2px solid green;
}

img {
    width: 100%;
    height: 100%;
}


footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: fixed;
    padding-top: 0px;
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
    height: 10px;
    background-color: rgb(49, 49, 49);
    color: white;
    bottom: 0;
    }
/*############ tendencia ###########*/

section{
    max-width: 80%;
    border: 2px dashed green;
    margin: 0px auto;    
}

#cajas{
    width: 100%;
    height: 70%;
}




[alt="consolas"],[alt="juegos en la nube"],[alt="juegos para telefonos"],[alt="diversidad"],[alt="streaming"],[alt="realidad virtual"]{
    color: white;
}
 /*################## labels ###################*/

label{
    margin-left: 15px;
    margin-right: 5px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.562) ;
    font-size: 20px;
}
[name="con"],[name="nub"]{
    margin-right: 70px;
    margin-top: 10px;
    display: inline-block;
    float: left;
}
[name="tel"]{
    display: block;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}

[name="div"]{
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-right: 120px;
}
[name="str"]{
    display: inline-block;
    float: left;
    margin-left: px;
    margin-right: 120px;
}
[name="rea"]{
    display: inline-block;
    float: right ;
    margin-left: 0px;
    margin-right: 95px;
}

/*################ cajas ###############*/
[name="vr"]{
    margin: 10px;
    display: block;
    float: left;
    width: 31%;
    height: 200px;
}
[name="consolas"]{
    margin: 10px;
    display: block;
    float: left;
    width: 31%;
    height: 200px;
}
[name="nube"]{
    margin: 10px;
    display: block;
    float: left;
    width: 31%;
    height: 200px;
}
[name="movil"]{
    margin: 10px;
    display: block;
    float: left;
    width: 31%;
    height: 200px;
}
[name="diver"]{
    margin: 10px;
    display: block;
    float: left;
    width: 31%;
    height: 200px;
}
[name="stream"]{
    margin: 10px;
    display: block;
    float: left;
    width: 31%;
    height: 200px;
}